{{#if userHasLoaded}}
  {{#if App.Auth.user.hasSubscription}}

    {{#if App.Auth.user.hasActiveSubscription}}
      {{view App.CreateInstanceView}}

      <div {{bindAttr class=":alert :alert-error errors:show:hide"}}>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Hold up!</strong> {{errors}}
      </div>

      {{#if model.isLoaded}}
        {{#if model}}

        <table id="instances-table" class="table table-bordered">
          <thead>
            <tr>
              <th class="span2">Nickname</th>
              <th>Type</th>
              <th>Cloud Host</th>
              <th>Data Center</th>
              <th>Zone</th>
              <th>Status</th>
              <th class="span3">Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each instance in controller}}
              <tr>
                <td {{action "editInstance" on="doubleClick"}} class="clickable">
                  {{#if isEditing}}
                      {{view App.EditInstanceView valueBinding="name" action="acceptChanges"}}
                  {{else}}
                    {{name}}
                  {{/if}}
                </td>
                <td>{{typeDisplayName}}</td>
                <td>{{availabilityZone.dataCenter.cloudHost.name}}</td>
                <td>{{availabilityZone.dataCenter.name}}</td>
                <td>{{availabilityZone.name}}</td>
                <td>{{#unless isRunning}}<i class="refreshing icon-spinner icon-spin inline"></i>{{/unless}}{{state}}</td>

                <td class="actions">
                  <a {{action toggleDetails}} class="btn btn-info details-btn">
                    <i class="icon-info"></i>
                    <span class="visible-desktop">{{#if showDetails}} Hide {{else}} View {{/if}} Details</span>
                  </a>
                  <a {{action editInstance}} {{bindAttr class=":btn :btn-success isEditing:disabled"}}>
                    <i class="icon-edit"></i>
                    <span class="visible-desktop">Edit</span>
                  </a>

                </td>
              </tr>
              {{#if showDetails}}
                {{#each data in foreignInstanceData}}
                <tr class="details">
                  <td colspan="7">
                    <dl class="dl-horizontal">
                      {{#if isAllType}}
                      <dt>Database</dt>
                      <dd><dd>{{#if isRunning}} {{data.type}} {{else}} <i class="refreshing icon-spinner icon-spin"></i>{{/if}}</dd></dd>
                      {{/if}}
                      <dt>Connection URI</dt>
                      <dd>{{#if isRunning}} {{data.connectionURI}} {{else}} <i class="refreshing icon-spinner icon-spin"></i>{{/if}}</dd>
                      <dt>Console Connection</dt>
                      <dd>{{#if isRunning}} {{data.consoleConnection}} {{else}} <i class="refreshing icon-spinner icon-spin"></i>{{/if}}</dd>
                      <dt>ID</dt>
                      <dd>{{id}}</dd>
                      <dt>Host</dt>
                      <dd>{{#if isRunning}} {{data.host}} {{else}} <i class="refreshing icon-spinner icon-spin"></i>{{/if}}</dd>
                      <dt>Port</dt>
                      <dd>{{#if isRunning}} {{data.port}} {{else}} <i class="refreshing icon-spinner icon-spin"></i>{{/if}}</dd>
                      {{#if data.username}}
                      <dt>Username</dt>
                      <dd>{{#if isRunning}} {{data.username}} {{else}} <i class="refreshing icon-spinner icon-spin"></i>{{/if}}</dd>
                      {{/if}}
                      {{#if data.password}}
                      <dt>Password</dt>
                      {{/if}}
                      <dd>{{#if isRunning}} {{data.password}} {{else}} <i class="refreshing icon-spinner icon-spin"></i>{{/if}}</dd>

                    </dl>
                  </td>
                </tr>
                {{/each}}
                <tr class="details">
                  <td colspan="7" class="destroy">
                     <a {{action destroyRecord instance}} class="btn btn-danger destroy-btn">
                      <i class="icon-trash"></i>
                      <span class="visible-desktop">Destroy Server</span>
                    </a>
                  </td>
                </tr>
              {{/if}}
            {{/each}}
          </tbody>
        </table>
        {{else}}
          <div id="get-started">
            Get started by creating a new instance!
          </div>
        {{/if}}
      {{/if}}
    {{else}}
      <h4>
        Your subscription has been cancelled <i class="icon-frown"></i>. No worries, you can always resubscribe on the {{#linkTo "subscriptions"}}billing tab{{/linkTo}}.
      </h4>
    {{/if}}

  {{else}}
    <div class="update-billing">
      <div class="greeting">
        Thanks for joining us! Now let's get started...
      </div>
      <div class="steps clearfix">
        <span class="span3 offset1 step">
          <div class="img">
            <i class="icon-credit-card"></i>
            <h4>Update Billing</h4>
          </div>
          <p>
            Subscribe to one of the plans and test it out <u>free for 7 days</u>, cancel anytime.
          </p>
          <div>
            {{#linkTo "subscriptions" class="btn btn-success"}} Let's do it! {{/linkTo}}
          </div>
        </span>
        <div class="span1 feature-arrow">
          <i class="icon-circle-arrow-right hidden-phone"></i>
          <i class="icon-circle-arrow-down visible-phone"></i>
        </div>
        <span class="span3 step">
          <div class="img">
            <i class="icon-hdd"></i>
            <h4>Create a Database</h4>
          </div>
          <p>
            Spin up a new Redis, Mongo, MySQL, or PostgreSQL server in minutes.
          </p>
        </span>
        <div class="span1 feature-arrow">
          <i class="icon-circle-arrow-right hidden-phone"></i>
          <i class="icon-circle-arrow-down visible-phone"></i>
        </div>
        <span class="span3 step">
          <div class="img">
            <i class="icon-smile"></i>
            <h4>Profit</h4>
          </div>
          <p>
            Plug the connection information into your application code and you're done!
          </p>

        </span>
      </div>
    </div>
  {{/if}}
{{/if}}

